body {
	background-color: white;
	display: flex;
}

.Rouge {
	width: 35%;
	height: 45%;
	background-color: red;
	position: absolute;
	top: 20%;
	left: 20%;
	border-width: 0%;
    border-radius: 12px;
    color: red;
}

.Bleu {
	width: 35%;
	height: 45%;
	background-color: blue;
	position: absolute;
	top: 25%;
	left: 25%;
	border-width: 0%;
    border-radius: 12px;
    color: blue;
}

.Vert {
	width: 35%;
	height: 45%;
	background-color: green;
	position: absolute;
	top: 30%;
	left: 30%;
	border-width: 0%;
    border-radius: 12px;
    color: green;
}

.Cookies {
	background-color: #d9d9d9;
	border-width: 0%;
	border-radius: 36px;
	bottom: 3%;
	left: 3%;
	width: 40%;
	height: 15%;
    position: absolute;
}

.Refuser {
	background-color: white;
	border-radius: 12px;
	border-width: 1px;
	border-color: #008cff;
	height: 30%;
	width: 30%;
	bottom: 4%;
	left: 5%;
	flex-direction: row;
    position: absolute;
    flex-direction: row;
    display: flex;
}

.Accepter {
	background-color: #1a81e1;
	border-radius: 12px;
	border-width: 0px;
	bottom: 4%;
	left: 65%;
	height: 30%;
	width: 30%;
	flex-direction: row;
    position: absolute;
    display: flex;
    flex-direction: row;
}

h1 {
	font-size: 40px;
	font-weight: 500;
	line-height: 33.89px;
	text-align: center;
	color: black;
}

h2 {
	font-size: 25px;
	font-weight: 500;
	line-height: 19.36px;
	align-self: center;
    margin-left: 25%;
	color: #008cff;
}

h3 {
	font-size: 25px;
	font-weight: 500;
	line-height: 19.36px;
	color: white;
    align-self: center;
    margin-left: 25%;
}
